:root{
    --orange: rgb(235, 91, 37);
    --yellow: rgb(250, 185, 0);
    --brown: rgb(91, 59, 52);    
    --grey: rgb(68, 68, 68);
    --light-background: rgb(245, 245, 245);
    --dropdown-background: rgb(238, 238, 238);
}